.btn-buy {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #252c41;     
    text-decoration: none;
    border: none;
    margin-right: 38px;
    transition: all 480ms linear;
    transition-delay: 30ms;
}

.btn-buy:hover{
    background-color: #fff;
    color: #252c41;    
}
.btn-buy:active{
    transform: scale(.9);
}

.btn-buy.-cart{   
    background-color: Transparent;
    border: 2px solid #fff;
    width: 218px;
    line-height: 56.8px;
    cursor: pointer;
}

.btn-buy.-cart:hover{
    background-color: #fff;
    color: #e24647;
}

