.btn-buy {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #252c41;    
    box-shadow: rgba(50, 50, 50, 0.36);
    text-decoration: none;
    border: none;
}

.btn-buy.-cart{   
    background-color: Transparent;
    border: 2px solid #fff;
    width: 218px;
    line-height: 56.8px;
}
