.description-list {
    display: inline-block;
    width: 554px;    
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;     
}

.description-list>.title-description {
    font-size: 25px;
    margin-top: 138px;
    margin-bottom: 50px;
}

.assessments>.assessments-item {
    margin-right: 9px;
    cursor: pointer;  
}

.description-list>.price-description {
    font-size: 20px;
    margin-bottom: 28px;
}

.description-list>.price-description.-info {
    width: 200px;
    text-align: right;
}

.description-list>.reputation {
    margin-left: 10px;
    margin-top: 18px;
}

.price-description>.contrast {
    text-transform: uppercase;
    float: left;
}

.description-list>.price-description.-last {
    margin-bottom: 72px;
}

.description-list>.description-product {
    font-size: 18px;
    margin-top: 30px;    
    line-height: 30px;
}

.description-product>.more-description {
    text-decoration: none;
    color: inherit;
}